page-core-mainmenu-pages-faq {
    ion-content{
        // background-color: #50c6e0 !important;
    }
//  ion-list p{
//     margin-left: 5%;
//  }
 ion-icon{
margin-top: 5%;
font-size: 18px;
margin-right: 3%;
    
 }
    
}
